


<!-- ##### Breadcumb Area Start ##### -->

  <div
  class="breadcumb-area bg-img bg-overlay"
  style="background-image: url(img/bg-img/background4.jpg); "
>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcumb-text text-center">
          <h2>Contact</h2>
        </div>
      </div>

    </div>
  </div>

</div>

<!-- ##### Breadcumb Area End ##### -->

      <!-- Contact Text -->
      <div class="col-6 col-lg-5">
        <div class="contact-text" style="margin-left: 35px; margin-top: 20px;">
          <p>
            We'd love to hear from you! Whether you have a question about one of
            our recipes, want to collaborate with us, or simply want to say
            hello, we're here to help.
          </p>
          <p>
            We appreciate your interest and look forward to connecting with you
            soon.
          </p>
        </div>
        <!-- Single Contact Information -->
        <div class="single-contact-information mb-30" style="margin-left: 35px;">
          <h6>Address:</h6>
          <p>123 Main Street, Springfield</p>
        </div>
        <!-- Single Contact Information -->
        <div class="single-contact-information mb-30" style="margin-left: 35px;">
          <h6>Phone:</h6>
          <p>(555) 987-6543 <br />(555) 987-6543</p>
        </div>
        <!-- Single Contact Information -->
        <div class="single-contact-information mb-30" style="margin-left: 35px;">
          <h6>Email:</h6>
          <p>contact@copynpastries.com</p>
        </div>
      </div>
      <!-- Newsletter Area -->
      <div class="col-12 col-lg-12" >
        <div
          class="newsletter-form bg-img bg-overlay"
          style="background-image: url(img/bg-img/pozadina.jpg)">
          <form id="newsletter-form">
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Enter your email"
              required/>
            <button type="submit" class="btn delicious-btn w-100">
              Subscribe
            </button>
          </form>
          <p>
            Join our dessert-loving community and never miss a sweet moment!
            Subscribe to our newsletter for exclusive access to mouthwatering
            recipes, baking tips from experts, and special offers delivered
            straight to your screen. Whether you're a seasoned baker or just
            starting your culinary journey, our newsletter is your ticket to
            dessert paradise. Don't miss out on the latest deliciousness – sign
            up now and let's indulge together!
          </p>
        </div>
      </div>


</div>
<!-- ##### Contact Information Area End ##### -->
