<!-- ##### Breadcumb Area Start ##### -->
<div
  class="breadcumb-area bg-img bg-overlay"
  style="background-image: url(img/bg-img/background2.jpg)"
>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcumb-text text-center">
          <h2>Recipes</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<div class="container">
  <div class="row">
    <div class="col-12">
      <div id="recipes-container" class="receipe-post"></div>
    </div>
  </div>
</div>

<script>
  function postComment() {
    var name = document.getElementById("name").value;
    var email = document.getElementById("email").value;
    var subject = document.getElementById("subject").value;
    var message = document.getElementById("message").value;

    console.log("Form submitted with the following data:");
    console.log("Name:", name);
    console.log("Email:", email);
    console.log("Subject:", subject);
    console.log("Message:", message);
  }
</script>
