<!-- ##### About Area Start ##### -->
<section class="about-area section-padding-80">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <div>
          <input type="checkbox" id="check" />
          <div class="login-form form-content">
            <header>Log in</header>
            <form id="signin-form" action="#">
              <input
                id="email"
                type="email"
                placeholder="Enter your email"
                name="email"
              />
              <input
                id="password"
                type="password"
                placeholder="Enter your password"
                name="password"
              />
              <input
                style="background-color: rgb(58, 150, 100);"
                type="submit"
                id="loginButton"
                class="button"
                value="Log in"
              />
            </form>
            <div class="signup-section">
              <span class="signup-section">
                Don't have an account?
                <label for="check"><a href="#signup" style="color: rgb(58, 150, 100);">Sign up</a></label>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
